@page "/home"

<h3>Home</h3>

<div class="search-bars">
    <div class="text-center bg-blue-100">
        <input class="border-4 w-1/3 rounded m-6 p-6 h-8
               border-blue-300" @bind-value="searchInvoiceNumber"
               @bind-value:event="oninput" placeholder="Search by Invoice No." />
    </div>

    <div class="text-center bg-blue-100">
        <input class="border-4 w-1/3 rounded m-6 p-6 h-8
               border-blue-300" @bind-value="searchCustomerMobile"
               @bind-value:event="oninput" placeholder="Search by Customer Mobile" />
    </div>
</div>


@code {
    public string searchInvoiceNumber;
    public string searchCustomerMobile;

}
