@page "/new-invoice"


<h3>NewInvoice</h3>

@code {
    private class CustomerDetails
    {
        public string name;

        public string gender;

        public string city;

        public DateTime dob;

        public string phone;
    }

    private CustomerDetails customerModel = new CustomerDetails();
}
