@inherits LayoutComponentBase

<div class="startupPgContainer">
    <div class="flex_col">
        <div class="welcomeTxt">
            Welcome
        </div>

    <article class="content px-4" >
        @Body
    </article>

    </div>

    <img class="mm_img" src="images/meta_monkeys_store.jpg"/>
    
</div>